<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Anton|Raleway:500|Ubuntu:400,700" rel="stylesheet">
    <title> Jane Costa | Get to know me! </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <meta property="og:title" content="Hi, I'm Jane Costa. Get to know me!">
      <meta property="og:type" content="article">
      <meta property="og:url" content="http://www.jane-costa.me">
      <meta property="og:image" content="http://res.cloudinary.com/daguvfl0l/image/upload/c_scale,w_1100/v1511979418/s9mw07e0zjijfls2o59p.png">
      <meta property="og:description" content="I'm a web developer based in Montreal currently looking for employment. I have a passion for both programming and foreign languages.">
      <meta property="og:site_name" content="JaneCosta">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <%= render "shared/banner" %>


    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
